.projects {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  &-title {
    color: var(--color-blue);
    font: var(--font-h3);
    visibility: hidden;
  }

  &-subtitle {
    margin: 0 0 40px;
    font: var(--font-h2);
    visibility: hidden;
  }

  &-container {
    display: grid;
    width: 100%;
    gap: 30px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 30%);
  }
}

.project {
  border-radius: 20px;
  background-color: white;
  box-shadow: var(--shadow-medium);
  gap: 10px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    scale: 1.03;
  }

  &-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
  }
}

.button-close-tool-popup {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 22px;
  height: 22px;
  border: none;
  background-image: url("../../assets/images/closeButton.svg");
  background-position: center;
  background-repeat: none;

  &:hover {
    cursor: pointer;
  }
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 40%;
  padding: 40px;
  border-radius: 20px;
  background-color: var(--color-background);
  box-shadow: 10px 10px 20rem 20rem rgb(88 81 94 / 80%);
  opacity: 0;
  text-align: start;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease;
  visibility: hidden;

  &-viewable {
    opacity: 1;
    transition: all 0.8s ease;
    visibility: visible;
  }

  &-title {
    margin-bottom: 20px;
    font: var(--font-h2);
  }

  &-intro {
    margin-bottom: 20px;
    font: var(--font-h3);
  }

  &-description {
    max-width: 80%;
    margin-bottom: 20px;
    font: var(--font-text);
  }

  &-stack {
    font: var(--font-caption);
  }

  &-link {
    color: var(--color-blue);
    font: var(--font-caption);
    text-decoration: none
  }
}



@media (width <= 1024px) {
  .projects-container {
    grid-auto-rows: 15%;
    grid-template-columns: 1fr;
    grid-template-rows: 15%;
  }
}
