@import '../../typed';

.main {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;

  &-title {
    font: var(--font-h1);

    & > span {
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(60deg, #5651E5, #9ed8f7);
      color: transparent;
    }
  }

  &-image {
    position: absolute;
    top: 65%;
    width: 30%;
    height: 30%;

    &:hover {
      cursor: pointer;
    }
  }
}

.typing {
  font: var(--font-h1);

  @include typed("фронтенд разработчик", "фронт-энд разработчик", "frontend developer", "front-end developer", "iron man", null, (caret-width: 8px, caret-color: #5651E5));
 }

@media (width <= 560px) {
  .main-title {
    font: var(--font-title-small);
  }
}
