/* stylelint-disable media-feature-range-notation */
@import '../../typed';

.main {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;

  &-title {
    font: var(--font-h1);
  }

  &-image {
    position: absolute;
    top: 75%;
    left: 45%;
    width: 200px;
    height: 200px;

    &:hover {
      cursor: pointer;
    }
  }
}

.typing {
  font: var(--font-h1);

  @include typed("фронтенд разработчик", "фронт-энд разработчик", "frontend developer", "front-end developer", "Iron Man", null, (caret-width: 8px, caret-color: #5651E5));
 }

@media (max-width: 560px) {
  .main-title {
    font: var(--font-title-small);
  }

  .typing {
    font: var(--font-title-small);
  }
}

@media not all and (min-resolution:.001dpcm) {
  .typing::after {
    content: 'фронтенд разработчик';
  }
}
