.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.main__title {
  font: var(--font-h1)
}

.main__subtitle {
  font: var(--font-h2)
}

.main__image {
  width: 30%;
  height: 30%;
  margin: 0 auto;
}
