/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.skills {
  display: flex;
  width: 100%;

  // display: grid;
  min-height: 100vh;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  gap: 20px;
}

.skills__title {
  font: var(--font-h2);
}

.skills__subtitle {
  font: var(--font-h3);
}

.skills__container {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

