.header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  width: calc(100vw - 20px);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: var(--color-background);
}

.scrolling {
  box-shadow: var(--shadow-medium);
}

.language {
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  gap: 20px;
  list-style-type: none;
}

.navbar__element {
  color: black;
  font: var(--font-text);
  text-decoration: none;
  transition: all 0.3 ease-out;
}

.navbar__element:hover, .navbar__element:active {
  color: var(--color-blue);
}

.active {
  color: var(--color-blue);
}

@media (width <= 560px) {
  .header, .navbar {
    flex-direction: column;
  }
}
