.header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  width: calc(100vw - 15px);
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background: var(--color-background);
}

.scrolling {
  box-shadow: var(--shadow-medium);
}

.language {
  display: flex;
  visibility: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  gap: 20px;
  list-style-type: none;

  &-element{
    color: black;
    font: var(--font-text);
    text-decoration: none;
    transition: all 0.3 ease-out;

    &:hover, :active {
      color: var(--color-blue);
    }
  }
}

.active {
  color: var(--color-blue);
}


.button-tool-popup {
  display: none;
  width: 44px;
  height: 44px;
  border: none;
  margin-left: auto;
  background-image: url("../../assets/images/buttonTool.svg");
  background-position: center;
  background-repeat: none;

  &:hover {
    cursor: pointer;
  }
}

@media (width <= 768px) {
  .navbar {
    display: none;
  }

  .button-tool-popup {
    display: flex;
  }
}




.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 3px;
  animation: progress 1s linear;
  background-color: #fff;
}

@keyframes progress {
  to {
    width: 100%;
    background-color: rgb(20 255 226);
  }
}


:root * {
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  animation-fill-mode: both;

  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;

  /* Pause the animation */
  animation-play-state: paused;
}
