@import "modern-normalize/modern-normalize.css";
@import "assets/fonts/Roboto/roboto.css";
@import "assets/fonts/Montserrat/Montserrat.css";

:root {
  height: 100%;
  font-family: Roboto, Montserrat, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;

  /* Colors */
  --color-background: rgb(236 240 243);
  --color-blue: rgb(86 81 229);

  /* #5651E5 */

  /* Shadows */
  --shadow-medium: 0 15px 20px 0 rgb(88 81 94 / 50%);

  /* Fonts */
  --font-h1: 700 60px/62px "Montserrat", sans-serif;
  --font-h2: 800 28px/32px "Montserrat", sans-serif;
  --font-h3: 700 20px/28px "Montserrat", sans-serif;
  --font-title-small: 600 40px/46px "Montserrat", sans-serif;
  --font-text: 400 13px/16px "Roboto", sans-serif;
  --font-caption: 400 12px/14px "Roboto", sans-serif;
  --font-body: 400 14px/18px "Roboto", sans-serif;
  --font-button: 500 16px/20px "Roboto", sans-serif;
}


body {
  height: 100%;
  background: var(--color-background);
  font: var(--font-body);
}

html {
  scroll-behavior: smooth;
}

span {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(60deg, #5651E5, #9ed8f7);
  color: transparent;
}

.animate {
  animation: 2s lineappearance ease-out;
  visibility: visible;
}

@keyframes lineappearance {
  0% {
    opacity: 0;
    transform: translateX(-80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
